@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.app-header {
  display: flex;
  border: 1px solid red;
  margin: 0;
  justify-content: flex-end;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  font-size: 24px;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px solid #ff0000;
}

a.link-nav {
  padding: 0 7px;
  color: #494848;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}

.link-nav:hover {
  text-decoration: none;
  color: #973a69;
}