@media only screen and (max-width: 1160px) {
  .sort-line {
    display: none;
  }
}

@media only screen and (max-width: 1060px) {
  .home-wrapper {
    flex-wrap: wrap;
    padding-top: 0;
  }

  span.sort-list_header {
    display: none;
  }

  .sortingbox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  .sort-list {
    margin: 0 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: auto;
  }

  .sort-list:first-of-type {
    margin-top: auto;
  }

  .name-hidden,
  .price-hidden {
    display: none;
  }
}

@media only screen and (max-width: 860px) {
  .nav-hamburger_hidden {
    display: flex;
  }

  .app-header {
    display: none;
  }

  .navigation_hidden {
    display: block;
  }

  a.link-nav_hidden {
    width: 100vh;
    display: table-cell;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
  }

  a.link-nav {
    position: absolute;
    right: 90px;
    width: 20px;
  }

  span.bag-items_number {
    height: 20px;
    width: 20px;
    right: -15px;
    font-size: 24px;
  }

  .footer .app-header_hidden {
    display: none;
  }

  .header-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    z-index: 2;
    background-color: #fafafa;
    -webkit-box-shadow: 2px 2px 4px 1px #90909c;
    box-shadow: 1px 1px 4px 1px #90909c;
  }

  .main-layout {
    margin-top: 100px;
  }

  .footer-copyrights {
    width: 100%;
  }

  .hidden-nav_wrapper {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 800px) {
  .sortingbox {
    flex-wrap: wrap;
  }

  .sort-list {
    text-align: center;
    margin: 2px 0;
  }

  .order-image {
    display: none;
  }

  .product-item {
    flex-direction: column;
    padding: 0 50px 100px;
    margin: 0 auto;
  }

  .product-photo {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    top: 10px;
    left: 0;
  }

  .product-item_promo {
    position: relative;
    top: 130px;
    left: 0;
  }

  .product-wrapper_item {
    margin-top: 15px;
    width: 100%;
    margin: 20px auto;
  }

  .product-item_special {
    top: 0;
    right: 20px;
  }

  .add-to-bag {
    left: 25%;
    bottom: 120px;
  }

  .add-to-bag_text {
    left: 25%;
    bottom: 60px;
  }

  .add-to-bag_count {
    bottom: 15px;
    left: 25%;
  }

  .faq-site {
    padding: 100px 50px;
  }

  .faq-site h1 {
    font-size: 22px;
  }

  .faq-site h2 {
    font-size: 18px;
  }
  .faq-site img {
    height: 60px;
    width: 60px;
  }
}

@media only screen and (max-width: 400px) {
  .app {
    padding: 0;
  }

  .navi-logo {
    visibility: hidden;
  }

  .product {
    max-width: 100px;
    max-height: 150px;
    margin: 10px auto;
  }

  .product-list_item {
    width: 100%;
  }

  .bag {
    margin: 0;
    overflow: hidden;
  }

  table.minimalistBlack tbody td, 
  table.minimalistBlack thead th,
  table.minimalistBlack tfoot td {
    font-size: 14px;
  }

  .product-container {
    padding: 0 5px 100px;
  }

  .product-item {
    padding: 0 5px 50px;
  }

  .product-wrapper_item {
    padding: 10px 0;
  }

  .add-to-bag {
    left: 10px;
  }

  .add-to-bag_text {
    left: 10px;
    font-size: 14px;
  }

  .add-to-bag_count {
    left: 10px;
    font-size: 18px
  }

  .faq-site {
    padding: 100px 20px;
  }

  .faq-site h1 {
    font-size: 20px;
  }
 
}