.product {
    min-width: 250px;
    text-decoration: none;
    color: #000;
    min-height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #ebeef1;
    margin: 15px;
    padding: 10px 20px;
    position: relative;
  }
  
  .product:hover {
    transition: 0.5s;
  }
  
  img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  .product-container {
    margin: 0;
    padding: 50px;
    position: relative;
  
  }
  
  .product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: #2c3e5093;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
  }
  
  .product-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  
  .product:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
  }
  
  .product-price {
    font-size: 20px;
    font-weight: 600;
  }
  
  .product-price_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
  }
  
  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    margin-left: 100px;
  }
  
  .product-item_new {
    position: absolute;
    top: -60px;
    left: -60px;
    transform: rotate(-45deg);
    text-align: center;
    border: 60px solid black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #eb2f06;
  }
  
  .product-item_text {
    position: absolute;
    top: 15px;
    left: 3px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    transform: rotate(-45deg);
  }
  
  .product-item_special {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #2c3e5093;
    padding: 10px 20px;
    height: 24px;
    border-radius: 5px;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    right: 50px;
    top: 70px;
  }

  .product-special_home {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #2c3e5093;
    padding: 10px 20px;
    height: 24px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    right: 20px;
    bottom: 100px;
  }
  
  .product_promo {
    position: absolute;
    top: 0;
    font-size: 4rem;
    color: #e74c3c;
    font-weight: bold;
    transform: rotate(-45deg);
    opacity: 0.7;
  }
  
  .product-item_promo {
    position: absolute;
    top: 220px;
    left: 100px;
    font-size: 3rem;
    color: #e74c3c;
    font-weight: bold;
    margin: 0;
    transform: rotate(-45deg);
    opacity: 0.7;
    z-index: 1;
  }
  
  .product-photo {
    position: absolute;
    top: 180px;
    left: 100px;
    width: 150px;
    height: 150px;
    margin: 0;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 12px 0 rgba(0, 0, 0, 0.19);
}

  .add-to-bag {
    padding: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: #000;
    display: block;
    position: absolute;
    bottom: 80px;
    left: 400px;
    border-radius: 5px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2), 0 3px 14px 0 rgba(0,0,0,0.19);
  }
  
  .add-to-bag:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .add-to-bag:active {
    transform: translate(3px, 1px);
  }
  
  .product-description {
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
  }
  
  .product-price_old {
    font-size: 18px;
    text-decoration: line-through;
    height: 18px;
    margin-left: 5px;
    color: #4e4e4e;
  }

  .products-price_old {
    font-size: 16px;
    text-decoration: line-through;
    height: 18px;
    margin-left: 5px;
    color: #fff;
  }
  
  .product-wrapper_item {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 10px;
    margin-left: 50px;
  }
  
  .add-to-bag_text {
    position: absolute;
    bottom: 15px;
    left: 315px;
  }
  
  .add-to-bag_count {
    position: absolute;
    bottom: 50px;
    left: 100px;
    font-size: 20px;
  }