.regulations-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  position: relative;
  padding: 100px;
}

.regulations-site img {
  position: absolute;
  top: 20px;
  right: 40px;
  height: 100px;
  width: 100px;
}

.regulations-site p {
  font-size: 20px;
}

.regulations-site ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}