.bag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 55vh;
  background-color: #f3f3f3;
  padding: 50px;
  position: relative;
}

.bag-items {
  width: 100%;
  margin: 50px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bag-item_list {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  width: 70%;
  flex-wrap: wrap;
}

.bag-description_link {
  margin: 0;
  width: 200px;
  height: 200px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 12px 0 rgba(0, 0, 0, 0.19);
  transition: width 1s;
  padding: 20px;
  text-decoration: none;
  display: inline-flex;
  position: relative;
}

.bag-description_link:active .bag-description_hidden {
  opacity: 1;
}

.bag-description_hidden {
  transition: 0.5s ease;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  color: #fff;
  font-size: 26px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
}

.bag-description_label {
  font-size: 20px;
  margin: 0;
}

.bag-description_text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.bag-item_list img:active {
  transform: translate(1px, 1px);
}

.bag-name_wrapper {
  text-align: center;
}

.bag-item_name {
  font-size: 26px;
  font-weight: bold;
  margin-block-end: 5px;
}

.bag-item_description {
  width: 100%;
  font-size: 20px;
}

.bag-item_price {
  font-size: 24px;
  margin: 0 auto;
  font-weight: bold;
}

.bag-item_number {
  font-size: 20px;
  text-align: center;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid grey;
  border-radius: 5px;
  font-weight: bold;
}

.bag-number_wrapper {
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-size: 20px;
  min-width: 180px;
}

.number-wrapper_set {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.number-set {
  font-size: 16px;
  cursor: pointer;
  margin: auto;
}

.bag-remove_item {
  /* width: 90px; */
  color: #ff0000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.bag-remove_item:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.price-push {
  visibility: hidden;
}

.bag-total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 90%;
  font-size: 22px;
  font-weight: bold;
}

.bag-button_pay {
  border: none;
  background-color: #000;
  padding: 10px 70px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
}

.bag-input_code {
  border: none;
  width: 120px;
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
  border: 1px solid #000;
  font-size: 20px;
  margin: 5px auto 10px;
}

.bag-input_submit {
  border: none;
  background-color: blue;
  padding: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  border-radius: 5px;
}

.bag-button_pay {
  cursor: pointer;
  text-decoration: none;
}

.bag-button_pay:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bag-button_pay:active {
  transform: translate(3px, 1px);
}

.bag-text_label {
  font-size: 16px;
  margin: 5px auto;
  padding: 0;
  text-align: center;
  font-weight: normal;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

img.order-image {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

table.minimalistBlack {
  border: 2px solid #000000;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  overflow-x: auto;
}

table.minimalistBlack td,
table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px;
}

table.minimalistBlack tbody td {
  font-size: 18px;
  height: 20px;
}

table.minimalistBlack thead {
  background: #cfcfcf;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.minimalistBlack tfoot {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  border-top: 2px solid #000000;
  height: 20px;
}
table.minimalistBlack tfoot td {
  font-size: 20px;
  text-align: right;
  height: 20px;
}

table.minimalistBlack tfoot td p {
  display: inline-flex;
}

table.minimalistBlack td:first-of-type,
table.minimalistBlack th:first-of-type {
  width: 30px;
  text-align: center;
}

table.minimalistBlack td:nth-of-type(3),
table.minimalistBlack th:nth-of-type(3) {
  width: 50px;
  text-align: center;
}

table.minimalistBlack td:nth-of-type(6),
table.minimalistBlack th:nth-of-type(6) {
  width: 150px;
  text-align: center;
}

.bag-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #fafafa;
  margin-top: 0;
  position: relative;
}

.bag-empty img,
img.shoppingbag-image {
  position: absolute;
  top: 40px;
  right: 40px;
}
