.product {
  min-width: 250px;
  text-decoration: none;
  color: #000;
  min-height: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ebeef1;
  margin: 15px;
  padding: 10px 20px;
  position: relative;
}

.product:hover {
  transition: 0.5s;
}

img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.product-container {
  margin: 0;
  padding: 50px;
  position: relative;

}

.product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #2c3e5093;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}


.product:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.product-price {
  /* color: #302f2f; */
  font-size: 18px;
  font-weight: 600;
}

.product-price_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  
}

.product-item {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  margin: 0 auto;
}

.product-item_new {
  position: absolute;
  top: -60px;
  left: -60px;
  transform: rotate(-45deg);
  text-align: center;
  border: 60px solid black;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #eb2f06;
}

.product-item_text {
  position: absolute;
  top: 15px;
  left: 3px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  transform: rotate(-45deg);
}

.product-item_special {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #000;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #000;
  -webkit-box-shadow: 1px 1px 6px 1px #2e2b2b;
  box-shadow: 1px 1px 5px 1px #2e2b2b;
  position: absolute;
  right: 0;
  bottom: 70px;
}

.product_promo {
  position: absolute;
  top: 0;
  font-size: 4rem;
  color: #e74c3c;
  font-weight: bold;
  transform: rotate(-45deg);
  opacity: 0.7;
}

.product-item_promo {
  position: absolute;
  top: 120px;
  font-size: 4rem;
  color: #e74c3c;
  font-weight: bold;
  transform: rotate(-45deg);
  opacity: 0.7;
}

.product-photo {
  width: 200px;
  height: 200px;
  margin: 0;
  border: 1px solid #302f2f;
}

.add-to-bag {
  /* width: 250px; */
  padding: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: #000;
  display: block;
  position: absolute;
  bottom: 50px;
  margin-left: 40%;
}

.product-description {
  /* width: 80%; */
  margin-top: 10px;
}

.product-price_old {
  font-size: 16px;
  text-decoration: line-through;
  height: 18px;
  margin-left: 5px;
  color: #fff;
}

.product-wrapper_item {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding: 10px;
}

.add-to-bag_text {
  position: absolute;
  bottom: 5px;
  margin-left: 40%;
}

.add-to-bag_count {
  position: absolute;
  bottom: 50px;
  font-size: 20px;
}