.Product {
    width: 230px;
    text-decoration: none;
    color: #000;
    border: 1px solid gray;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ebeef1;
    margin: 15px;
    padding: 40px 40px 0;
}

.Product:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 0;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
}

.product-name:hover {
    opacity: 0.8;
}

.product-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 50px;
    border: 2px solid blue;
    margin: 50px auto;
}