.Product {
    width: 200px;
    text-decoration: none;
    color: #000;
    border: 1px solid gray;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ebeef1;
    margin: 15px;
    padding: 40px 40px 0;
}

.Product:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.product-container {
    margin: 0;
    padding: 50px;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    
}

.product-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-name:hover {
    opacity: 0.8;
}

.product-price {
    color: #302f2f;
}
.product-item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    /* border: 2px solid blue; */
    margin:0 auto;
    background-color: #f1f1f1;
}

.product-photo {
    width: 300px;
    height: 300px;
}

.add_to-bag {
    width: 250px;
    padding: 20px;
    /* height: 50px; */
    border: none;
    color: #fff;
    /* background-color: #000; */
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.product-description {
    width: 80%;
    margin-top: 10px;
}