.ProductsList {
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    font: 20px;
    color: black;
    overflow: auto;
    width: 66%;
}