.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 10px 0;
  font-size: 1.5em;
}

.footer-copyrights {
  width: 40%;
  color: #575757;
  font-size: 16px;
}
