.home-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  background-color: #fafafa;
  margin-top: 0;
  width: 100%;
}

.bag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 55vh;
  background-color: #f3f3f3;
  padding: 50px;
}

.bag-empty {
  width: 100%;
  padding-left: 50px;
  margin: 0;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 0;
}

.bag-items {
  width: 100%;
  margin: 50px 0 0;
  padding: 0;
  list-style-type: none;
}

.bag-item_list {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
}

.bag-item_list img {
  margin: 0;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.bag-name__wrapper {
  width: 50%;
}

.bag-item__name {
  font-size: 20px;
  font-weight: bold;
}

.bag-item__description {
  width: 100%;
  font-size: 20px;
}

.bag-item__price {
  font-size: 22px;
}

.bag-item__number {
  font-size: 20px;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  background-color: darkgray;
}

.bag-number__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 15px;
  width: 120px;
  font-size: 20px;
}

.number-wrapper__set {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.number-set {
  font-size: 16px;
  cursor: pointer;
  margin: auto;
}

.bag-remove__item {
  width: 100%;
  text-align: right;
  color: #ff0000;
  cursor: pointer;
}

.price-push {
  visibility: hidden;
}

.bag-total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 90%;
  font-size: 22px;
  font-weight: bold;
}

.bag-button__pay {
  border: none;
  background-color: #000;
  padding: 10px 70px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
}

.bag-input_code {
  border: none;
  width: 120px;
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
  border: 1px solid #000;
  font-size: 20px;
  margin: 5px auto 10px;
}

.bag-input_submit {
  border: none;
  background-color: blue;
  padding: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  border-radius: 5px;
}

.bag-text_label {
  font-size: 16px;
  margin: 5px auto;
  padding: 0;
  text-align: center;
  font-weight: normal;
}
input:focus::-webkit-input-placeholder
{
    color: transparent;
}

.contact-site,
.faq-site,
.regulations-site,
.error-site {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #fafafa;
  margin-top: 0;
}

table.minimalistBlack {
  border: 2px solid #000000;
  width: 80%;
  text-align: left;
  border-collapse: collapse;
  /* table-layout: fixed ; */
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px;
}
table.minimalistBlack tbody td {
  font-size: 18px;
  height: 20px;
}
table.minimalistBlack thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.minimalistBlack tfoot {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  border-top: 2px solid #000000;
  height: 20px;

}
table.minimalistBlack tfoot td {
  font-size: 20px;
  text-align: right;
  height: 20px;

}

table.minimalistBlack tfoot td p {
  display: inline-flex;
}

table.minimalistBlack td:first-of-type, table.minimalistBlack th:first-of-type {
  width: 30px;
  text-align: center;
}

table.minimalistBlack td:nth-of-type(3), 
table.minimalistBlack th:nth-of-type(3) {
  width: 50px;
  text-align: center;
}

table.minimalistBlack td:nth-of-type(6), 
table.minimalistBlack th:nth-of-type(6) {
  width: 150px;
  text-align: center;
}

.sortingBox {
  width: 20%;
  text-align: left;
  padding: 50px 100px;
  font-size: 20px;
}

.sort-list {
  width: 100%;
  margin: 15px auto;
  display: inline-block;
  flex-wrap: wrap;
  text-decoration: none;
  cursor: pointer;
}

.sort-list:hover {
  font-weight: bold;
  color: #3b3b3b;
}

.sort-list:first-of-type {
  margin-top: 40px;
}

span.sort-list_header {
  font-weight: bold;
}

.sort-line {
  width: 100%;
  margin: 15px auto;
}