.app {
  padding: 0 5%;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 4px 1px #90909c;
  box-shadow: 1px 1px 4px 1px #90909c;
}

.header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 25px 0;
  text-transform: uppercase;
}

.navi-logo {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 30%;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}

.navi-logo:hover {
  text-decoration: none;
  color: #4b4646;
}

.nav-home {
  display: flex;
  justify-content: space-around;
}

.main-layout {
  width: 100%;
  background-color: #fafafa;
  -webkit-box-shadow: 1px 1px 2px 1px #90909c;
  box-shadow: 1px 1px 2px 1px #90909c;
  /* min-height: 90vh; */
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 10px 0;
  font-size: 1.5em;
}

.footer-copyrights {
  width: 40%;
  color: grey;
  font-size: 16px;
}
