.app {
  padding: 0 5%;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 4px 1px #90909c;
  box-shadow: 1px 1px 4px 1px #90909c;
}

.header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 25px 0;
  text-transform: uppercase;
}

.navi-logo {
  padding: 20px;
  display: flex;
  align-items: center;
  
  font-weight: bold;
  text-decoration: none;
  position: relative;
  background-color: #fa973ac9;
  width: 150px;
  margin-left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.logo-text {
  position: absolute;
  left: 5px;
  top: 12px;
  color: #fff;
  font-size: 26px;
  background-color: transparent;
  letter-spacing: 8px;
}

.navi-logo img {
  height: 70px;
  width: 70px;
  position: absolute;
  left: -26px;
  top: -15px;
}

.navi-logo:hover {
  text-decoration: none;
  color: #4b4646;
}

.nav-home {
  display: flex;
  justify-content: space-around;
}

.main-layout {
  width: 100%;
  background-color: #fafafa;
  -webkit-box-shadow: 1px 1px 2px 1px #90909c;
  box-shadow: 1px 1px 2px 1px #90909c;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 10px 0;
  font-size: 1.5em;
}

.footer-copyrights {
  width: 40%;
  color: grey;
  font-size: 16px;
}
